<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

## Exercise 1

In [52]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

In [67]:
print('Fahrenheit,\t celsius')
for x in [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]:
    print(f'{x*1.8 + 32},\t\t {x}')

Fahrenheit,	 celsius
32.0,		 0
41.0,		 5
50.0,		 10
59.0,		 15
68.0,		 20
77.0,		 25
86.0,		 30
95.0,		 35
104.0,		 40
113.0,		 45
122.0,		 50

In [14]:
import numpy as np

In [15]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]
np_array = np.array(temperatures_celsius)

In [16]:
tempeartures_F = np_array*1.8 + 32

In [ ]:
print(temperatures_celsius,tempeartures_F, end='\t')

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50] [ 32.  41.  50.  59.  68.  77.  86.  95. 104. 113. 122.]

## Exercise 2

In [2]:
import numpy as np

In [19]:
for letter in ['A','B','C']:
    for number in [1,2,3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [49]:
for number1 in [1,2,3,4,5]:
    print(f"{number1}:", end='') #iterates first loop only, end='' disables default \n
    for number2 in [1,2,3,4,5]:
        print(f'{number1*number2}', end='\t') #iterates both loops
    print('\n')

1:1	2	3	4	5

2:2	4	6	8	10

3:3	6	9	12	15

4:4	8	12	16	20

5:5	10	15	20	25

In [51]:
for number1 in [1,2]:
    print(f'{number1}:', end='')
    for number2 in [1,2]:
        print(f'{number1*number2}', end='\t')
    print('\n')

1:1	2

2:2	4

## Exercise 3

In [68]:
np.random.rand(10)

array([0.10184472, 0.79134856, 0.18343907, 0.91355847, 0.7785339 ,
       0.18022072, 0.19956678, 0.72808221, 0.7252516 , 0.07541476])

In [2]:
import numpy as np

In [3]:
for number1 in [1,2,3,4,5,6,7,8,9,10]: 
 print(f'Experiment {number1}:')
 for x in range(10):
   for x in [np.random.rand(10)]:
    np_array=np.array(x)
my_mask=np_array>0.5
print(f'No. of heads={sum(my_mask)}', end='\t')

Experiment 1:
Experiment 2:
Experiment 3:
Experiment 4:
Experiment 5:
Experiment 6:
Experiment 7:
Experiment 8:
Experiment 9:
Experiment 10:
No. of heads=6

In [4]:
for n in [1,2,3,4,5,6,7,8,9,10]:
    print(f'Experiment {n}:',end='')
    x = np.random.rand(10)
    np_array=np.array(x)
    my_mask=np_array>0.5
    print(f' No. of heads = {sum(my_mask)}')

Experiment 1: No. of heads = 3
Experiment 2: No. of heads = 7
Experiment 3: No. of heads = 4
Experiment 4: No. of heads = 5
Experiment 5: No. of heads = 5
Experiment 6: No. of heads = 7
Experiment 7: No. of heads = 4
Experiment 8: No. of heads = 7
Experiment 9: No. of heads = 5
Experiment 10: No. of heads = 1

In [2]:
import numpy as np