<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good) Exercises</span></div>

## Exercise 1

### Example 1 tasks

In [1]:
user_input = input('Please provide me with a number?')
print('You entered', user_input)

You entered 67

In [1]:
user_input = input('NAME?')
print('How you doin', user_input , '!')

How you doin Jack !

In [2]:
user_input = input('name')
user_input_2 = input('age')
print('My name is', user_input, 'and I am', user_input_2  , 'years old!')

My name is Jack floyd and I am 67 years old!

In [ ]:
user_input =input('2dp') # sir dont mark this
user_input_2 = input('3dp') 
user_input_3 = input('4dp') # cannot do loops since different functions 
print(f'The value of pi to 2 decimal places is {float(user_input):.2f}')
print(f'The value of pi to 3 decimal placses is {float(user_input_2):.3f}')
print(f'The value of pi to 4 decimal places is {float(user_input_3):.4f}')

The value of pi to 2 decimal places is 3.14
The value of pi to 3 decimal placses is 3.142
The value of pi to 4 decimal places is 3.1416

In [30]:
pi = float(3.141592653589793)
print(f'The value of pi to 2 decimal places is {pi:.2f}')
print(f'The value of pi to 3 decimal places is {pi:.3f}')
print(f'The value of pi to 4 decimal places is {pi:.4f}')

The value of pi to 2 decimal places is 3.14
The value of pi to 3 decimal places is 3.142
The value of pi to 4 decimal places is 3.1416

In [ ]:
user_input = input('cost_apple')
user_input_2 = input('cost_banana')
user_input_3 = input('cost_orange')
print('Apple' ,'$',user_input)
print('Banana', '$', user_input_2)
print('orange', '$', user_input_3)

Apple $ 0.99
Banana $ 0.59
orange $ 1.29

## Exercise 2

In [13]:
score_input = int(input('score'))
if 70<=score_input<=100:
    print("The student's letter grade is: 'A'")
elif 50<=score_input<=69:
    print("The student's letter grade is: B")
elif 35<=score_input<=49:
    print("The student's letter grade is: C")
elif 0<=score_input<=34:
    print("The student's letter grade is: Fail")
else:
    print("The student's score is not within the range of grades")

The student's letter grade is: Fail

## Exercise 3

In [17]:
def factorial(n):
    if n > 0:
        return n*factorial(n-1)
    elif n == 0:
        return 1
    else:
        return 'Invalid output'
            


print(factorial(5))   # Testing, expected output: 120
print(factorial(-1))  # Testing, expected output: Invalid input

120
Invalid output